<?xml version="1.0" encoding="UTF-8"?>  
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
  
	<bean id="address1" class="com.SI_DO.Address">  
		<property name="addressLine1" value="51,Lohianagar"></property>  
		<property name="city" value="Ghaziabad"></property>  
		<property name="state" value="UP"></property>  
		<property name="country" value="India"></property>  
	</bean>  
  
	<bean id="obj" class="com.SI_DO.Employee">  
		<property name="id" value="1"></property>  
		<property name="name" value="Sachin Yadav"></property>  
		<property name="address" ref="address1"></property>  
	</bean>  
  
</beans>  